@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

*{
    font-family: 'Mukta', 'helvetica';
}

#navbar{
    font-size: 20px;
    padding-top: 5px;
}

#link{
    padding-right: 30px;
}

.line{
    margin-top: 0px;
    margin-bottom: 0px;
}

.profile{
    display: grid;
    grid-template-columns: 10;
    gap: 1px;
}

.image-section{
    grid-column: 1;
    padding-left: 100px;
    padding-top: 22px;
    background-color: rgb(17, 55, 34);
    height: 92.5vh;
    box-shadow: 2px 2px 2px 2px;
    position:static;
}

.title{
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.titles{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 5vh;
}

.position{
    padding-top: 13px;
    color:white;
    padding-left: 26vh;
    margin-bottom: -18px;
}

 #last-name{
    padding-bottom: 5px;
    text-indent: 30px;
 }

.profile-img{
    height:250px;
    width:250px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(18, 127, 32);
}

.contact-info{
    font-size: 18px;
    color:white;
    list-style: none;
    padding-top: 25px;
}

.contact-info li{
    padding-top: 5px;
    text-decoration: none;
}

.contact-info a{
    text-decoration: none;
    color: white;
}

.profile-info{
    display: grid;
    grid-column: 2;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)), url('https://imgur.com/ucPJpaG.jpg');
    background-size: 150vh;
    /* border: 5px solid black; */
    background-repeat: no-repeat;
    color: white;
    content: "";
    position: absolute;
    height: 92.5vh;
    top: 52px;
    right: 0px;
    bottom: 0px;
    left: 461px;
    background-color: rgba(30, 29, 29, 0.65);
}

.intro h3{
    font-size: 70px;
    padding-top: 50px;
    font-weight: 600;
    padding-left: 20px;
}

#thank-you-card{
    margin-top: 5vh;
    margin-left: 50px;
    margin-bottom: 7vh;
    background-color: rgb(6, 36, 47, 0.80);
    text-align: center;
}

.intro h4{
    font-size: 35px;
    color: rgb(182, 206, 231);
}

.intro h4 span{
    color: goldenrod;
    font-weight: bold;
    font-style: italic;
}
.intro p{
    font-size: 45px;
    padding-left: 10vh;
    color: white;
}

.green{
    font-weight: bold;
    font-size: 25px;
}

.green span{
    color:green;
}

/* projects page */

.projects-page{
    background-color: rgb(17, 55, 34);
    color: white;
    height: 100vh;
}

#projects-carousel{
    height:75vh;
}

#project-img{
    width: 60%;
    height: 60%;
    opacity: 0.2;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);

}
#carousel-card{
    padding-top: 7vh;
}

#carousel-words{
    color: rgb(238, 229, 229);
    text-align: left;
    padding-bottom: 5vh;
    padding-right: 40vh;
    font-size: 22px;
    text-align: justify;
}

#carousel-words h2{
    font-weight: bold;
    font-size: 70px;
}

#carousel-words a{
    text-decoration: none;
    color: white;
}

#carousel-words a:hover{
    text-decoration: none;
    color: rgb(226, 61, 61);
}

#carousel-words ul{
    list-style-type: none;
    display: inline-flex;
}

#carousel-words li{
    padding-left: 5vh;
}

#project-card{
    height: 70vh;
    width:70%;
}

/* about page */
.about-page{
    /* background-color: rgb(101, 218, 154); */
    background-color: rgb(17, 55, 34);
    color: white;
    height: 220vh;
}

.background{
    display: inline;
    border: 1px solid green;
}

.collage-list{
    padding-bottom: 200px;
    padding-top:20px;
    padding-right: 0px;
    display: flex;
}

.collage-list p{
    font-size: 22px;
    text-align: justify;
    padding-right: 15vh;
    padding-left: 10vh;
    border-left: 1px solid gold;
}

.collage{
    height: 12%;
    width: 12%;
    border-radius: 20%;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
}

#image1{
    position: relative;
    left: 130px;
}
#image2{
    position: relative;
    top:200px;
    left: 180px;
}
#image3{
    position: relative;
    bottom: 30px;
    left: 50px;
}
#image4{
    position: relative;
    top: 100px;
    right: 250px;
}

.background{
    height: 52vh;
}

.skills{
    height: 92vh;
}

.skills-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10vh;
    margin-right: 10vh;
}

.skills-list li{
    border: 1px solid gold;
    background-color: gold;
    color: rgb(82, 80, 80);
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    font-weight: 600;
    width:15%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
}

.education{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    height: 35vh;
}

.gsu{
    display: flex;
    margin-right: 5vh;
    background-color: rgb(55, 85, 175);
    border-radius: 3%;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
}

.gsu-image{
    position: relative;
    width: 100px;
    height: 100px;
    top: 70px;
    left: 120px;
    border-radius: 50%;
}

.gsu h3{
    padding-top: 3vh;
    border-right: 1px solid black;
    margin-left: -70px;
    padding-right: 3vh;
    font-weight: bold;
}

.gsu ul{
    list-style: none;
    padding-top: 5vh;
    padding-right: 3vh;
}

.general-assembly{
    display: flex;
    margin-left: 5vh;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 3%;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);

}

.ga-image{
    position: relative;
    width: 170px;
    height: 100px;
    top: 70px;
    left: 55px;
}

.general-assembly h3{
    padding-top: 3vh;
    border-right: 1px solid black;
    margin-left: -120px;
    padding-right: 3vh;
    font-weight: bold;
}

.general-assembly ul{
    list-style: none;
    padding-top: 5vh;
    padding-right: 3vh;
}